* {
    margin-top: 0;
}


header {
    background-image: url(img/pattern.png);
    background-color: cornflowerblue;
    background-size: 30%;
}

#logobooleaners {
    width: 20%;
    padding-top: 20px;
}

main h1 {
    margin-top: 1%;
    margin-bottom: 0%;
}

#fontsize {
    font-size: 300%;
}

.fontgrigio {
    color: gray;
}

.fontnormale {
    font-size: large;
}

main ul {
    font-size: large;
    padding-left: 20px;
}

main table {
    border-collapse: collapse;

}

#fontbianco {
    color: white;
    background-color: deepskyblue;
    width: 50px;
}

.colsmall {
    width: 20%;
}

.sfondoceleste {
    background-color: rgba(30, 143, 255, 0.384);
}