* {
    margin-top: 0;
}

/* posizionamento logo e immagine di sfondo */
header {
    background-image: url(img/pattern.png);
    background-color: cornflowerblue;
    background-size: 30%;
}

#logobooleaners {
    width: 20%;
    padding-top: 20px;
}

main h1 {
    margin-top: 1%;
    margin-bottom: 0%;
}

#fontsize {
    font-size: 300%;
}

.fontgrigio {
    color: gray;
}

.fontnormale {
    font-size: large;
    padding-top: 15px;
}

main ul {
    font-size: large;
    padding-left: 20px;
}

/* rimosso spazio tra celle */
main table {
    border-collapse: collapse;

}

#fontbianco {
    color: white;
    background-color: deepskyblue;
    width: 50px;
}

/* distanza celle tabelle */
.colsmall {
    width: 20%;
}

.sfondoceleste {
    background-color: rgba(30, 143, 255, 0.384);
}

/* testo sopra le immagini */
.contenitore {
    position: relative;
    padding-top: 5px;
}

.testosopra {
    position: absolute;
    color: white;
    padding: 1%;
}

.fotmon {
    display: block;
}